[submodule "backend-repo"]
	path = backend-repo
	url = https://github.com/AbdullahAl1/backend-repo.git
[submodule "frontend-repo"]
	path = frontend-repo
	url = https://github.com/AbdullahAl1/frontend-repo.git
